* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 20px;
    padding: 0;
    background-color: #52352f;
    color: #d2ebff;
    text-align: center;
  
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    border: 1px solid black;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
    background-color: #C19A6B;
  }
  .x-color{
    color: #00B4D8;
  }
  .o-color{
    color: #03045E;
  }
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  .board-row{
    display:flex; 
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .board {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(15, 30px); /* 15 columns */
    grid-template-rows: repeat(15, 30px);    /* 15 rows */
    gap: 2px;
  }
  .board-container{

 
    display: flex; 
    justify-content: center;
    align-items: center; 
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
  }
  .scoreboard{
    display: flex;
    justify-content: center;
    justify-self: center; 
    gap: 20px; 
    background-color: #d2ebff;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 60px;
    width: 300px;

  }
  .score {
    position: relative;
    top: 13px;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;       
  }
  .xWins {
    color: #00B4D8;
  }
  
  .oWins {
    color: #03045E;
  }
  .seperator{
    position: relative;
    top: 12px;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: black;
  }
  .restart-button{
    font-size: 10px;
    font-weight: bold;
    padding: 16px;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    border-radius: 7px;
    border-color: white;
  }
  .reset-button{
    font-size: 10px;
    font-weight: bold;
    padding: 16px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #d2ebff;
    border-radius: 7px;
    border: 1px solid #999;
  }
  .status{
    justify-self: center  ;
    font-size: 25px;
    font-weight: bold;
    padding: 8px;
    margin-top: 5px;
    width: 170px;
    font-style: italic;
  }
  .stone {
    
    position: absolute;
    margin-left: 25px;
    margin-top: 8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .black {
    background-color: black;
  }
  .preview {
    opacity: 0.7;
  }
  .white {
    background-color: white;
    border: 1px solid black;
  }
  .dot {
    position: absolute;
    margin-left: 35px;
    margin-top: 55px; 
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
  }

.score {
  color: black;
  font-size: 24px;
  margin: 0 10px;
}

  